/* ==========================================================================
   QUICK ADD MODAL - Tailwind component styles
   ========================================================================== */

.container {
  width: 100%;
}

@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media (min-width: 750px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 990px) {
  .container {
    max-width: 990px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

.quick-add {
  position: relative;
  z-index: 1;
  grid-row-start: 4;
  margin-bottom: 1rem;
  margin-top: 0px;
}

.card--card .quick-add {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 1rem;
}

.quick-add-modal {
  visibility: hidden;
  position: fixed;
  inset: 0px;
  z-index: -10;
  margin: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(var(--color-foreground), 0.2);
  box-sizing: border-box;
}

.quick-add-modal[open] {
  visibility: visible;
  z-index: 101;
  opacity: 1;
}

.quick-add-modal .scroll-trigger.scroll-trigger {
  --tw-translate-x: 0px;
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 1;
  animation: none;
}

.quick-add-modal .quick-order-list__container {
  padding-bottom: 1.5rem;
}

.quick-add-modal__content {
  --modal-height-offset: 3.2rem;
  position: absolute;
  left: 50%;
  top: 0px;
  width: calc(100% - 3rem);
  max-width: var(--page-width);
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  overflow: hidden;
  background-color: rgb(var(--color-background));
  margin: var(--modal-height-offset) auto 0;
}

.quick-add-modal__content .loading__spinner {
  display: none !important;
}

.quick-add-modal__content button.loading .loading__spinner,
.quick-add-modal__content .quick-add__submit.loading .loading__spinner {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.quick-add-modal__content.quick-add-modal__content--bulk {
  width: 90%;
}

.quick-add-modal__content img {
  max-width: 100%;
}

.quick-add-modal__content-info {
  --modal-padding: 2.5rem;
  display: flex;
  height: 100%;
  overflow-y: auto;
  padding: var(--modal-padding);
  padding-right: 4.4rem;
}

.quick-add-modal__content-info > * {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
}

.quick-add-modal__content-info > product-info {
  padding: 0px;
}

.quick-add-modal__toggle {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 5;
  display: flex;
  width: 4rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 1px;
  border-color: rgba(var(--color-foreground), 0.1);
  background-color: rgb(var(--color-background));
  padding: 1.25rem;
  color: rgba(var(--color-foreground), 0.55);
}

.quick-add-modal__toggle:hover {
  color: rgba(var(--color-foreground), 0.75);
}

.quick-add-modal__toggle .icon {
  margin: 0px;
  height: auto;
  width: 2.25rem;
}

.quick-add-modal .quick-add-hidden,
.quick-add-modal .product__modal-opener:not(.product__modal-opener--image),
.quick-add-modal .product__media-item:not(:first-child) {
  display: none !important;
}

.quick-add-modal .product__column-sticky .product__media-list {
  margin-bottom: 0px;
}

.quick-add-modal .product__media-list .deferred-media {
  display: block;
  width: 100%;
}

.quick-add-modal .product__column-sticky {
  position: relative;
  top: 0px;
}

.quick-add__submit {
  box-sizing: border-box;
  min-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.quick-add-bulk {
  position: relative;
  z-index: 1;
  grid-row-start: 4;
  margin-bottom: 1rem;
  margin-top: 0px;
}

.card__content quick-add-bulk .quantity {
  width: 100%;
}

@media (min-width: 750px) {
  .quick-add-modal__content {
    --modal-height-offset: 10rem;
    margin-top: var(--modal-height-offset);
    max-height: calc(100% - var(--modal-height-offset) * 2);
    width: 80%;
    overflow-y: auto;
  }

  quick-add-modal .quick-add-modal__toggle {
    top: 2rem;
    right: 2rem;
  }

  .quick-add-modal__content.quick-add-modal__content--bulk {
    width: 80%;
  }

  .quick-add-modal__content-info.quick-add-modal__content-info--bulk {
    overflow-y: visible;
  }

  .quick-add-modal__content-info--bulk .quick-add__product-media,
  .quick-add-modal__content-info--bulk .quick-add__product-container,
  .quick-add-modal__content-info--bulk .quick-add__info {
    height: 22rem;
    width: 17rem;
  }

  .quick-add-modal__content-info--bulk-details,
  .quick-add-modal__content-info--bulk quick-order-list {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  quick-add-modal .product:not(.product--no-media) .product__media-wrapper {
    width: calc(45% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: 45%;
  }

  quick-add-modal .product:not(.product--no-media) .product__info-wrapper {
    width: calc(54% - var(--grid-desktop-horizontal-spacing) / 2);
    max-width: 54%;
    padding-top: 2rem;
    padding-left: 4rem;
  }

  quick-add-modal .thumbnail-slider .thumbnail-list.slider--tablet-up {
    display: none;
  }

  quick-add-modal .product-media-container.constrain-height {
    --constrained-min-height: 400px;
  }
}

@media (min-width: 990px) {
  .quick-add-modal__content {
    width: 70%;
  }
}

@media (min-width: 320px) {
  .quick-add-modal__content {
    bottom: var(--modal-height-offset);
  }

  .quick-add-modal__content-info.quick-add-modal__content-info--bulk {
    --modal-padding: 1.5rem;
  }

  .quick-add-modal__content-info > * {
    max-height: 100%;
  }

  quick-add-modal .slider .product__media-item.grid__item {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  quick-add-modal .product--mobile-columns .product__media-item {
    width: calc(100% - 3rem - var(--grid-mobile-horizontal-spacing));
  }
}

@media screen and (max-width: 989px) {
  .quick-add-modal__content-info--bulk {
    flex-direction: column;
  }

  .quick-add-modal__content-info--bulk .quick-add__content-info__media {
    margin: 0px;
    display: flex;
  }

  .quick-add-modal__content-info--bulk quick-order-list {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 990px) {
  .quick-add-modal__content-info--bulk .quick-add__info {
    position: sticky;
    top: 0px;
    margin-top: -2.5rem;
    flex-direction: column;
    padding-top: 2.5rem;
  }
}

.quick-add-modal__content-info--bulk .quick-add__product-media,
.quick-add-modal__content-info--bulk .quick-add__product-container,
.quick-add-modal__content-info--bulk .quick-add__info {
  height: 7rem;
  width: 5rem;
}

.quick-add-modal__content-info--bulk .quick-add__product-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.quick-add-modal__content-info--bulk-details {
  padding-left: 1rem;
}

.quick-add-modal__content-info--bulk-details > a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  text-underline-offset: 4px;
}

/*# sourceMappingURL=quick-add.css.map */
